{
  "presets": [
    [
      "@nrwl/react/babel",
      {
        "runtime": "automatic"
      }
    ]
  ],
  "plugins": [
    ["import", { "libraryName": "antd", "style": true }, "antd"],
    [
      "import",
      { "libraryName": "antd-mobile", "libraryDirectory": "lib" },
      "antd-mobile"
    ]
  ]
}
